site_name: JTE Library Starter

theme:
  name: material
  palette:
    primary: teal
  features: 
    - navigation.instant
    - navigation.tabs

repo_url: https://github.com/steven-terrana/jte-library-scaffold

plugins:
  - search:
  - gen-files:
      scripts:
        - /docs/resources/copy_docs.py

extra:
  version:
    provider: mike
    default: latest

markdown_extensions:
  - admonition
  - pymdownx.tabbed
  - pymdownx.highlight